<%= turbo_frame_tag :new_influencer do %>
  <dialog data-controller="dialog" data-action="click->dialog#clickOutside"
          class="backdrop:bg-gray-400 backdrop:bg-opacity-90 z-10 rounded-md border-4w-full md:w-2/3 m-auto">
    <div class="p-8">
      <%= yield %>
    </div>
  </dialog>
<% end %>
